/* ######################## LIGHT MODE #######################*/
:root{
  --mainColor:#eaeaea;
  --secondColor:#fff;
  --mainText:black;
  --secondText: #4b5156;
  --previewBg:rgb(251, 249, 243, 0.8);
  --previewShadow:#f0ead6;
  --borderColor:#c1c1c1;
  --btn-color:black;
}


/*############################# Dark MODE  #################*/
/*
:root{
  --mainColor:#15202B;
  --secondColor:#192734;
  --mainText:#fff;
  --secondText: #EAE0C8;
  --previewBg:rgb(25, 38, 52, 0.8);
  --previewShadow:black;
  --borderColor:#c1c1c1;
  --btn-color:#17a2b8;
}
*/
html, body{
  padding : 0px;
  margin : 0px;
  background-color: #ded3d3;
}

h1,h2,h3,h4,h5,h6, strong{
  color: var(--mainText);
  font-family : 'Russo One', sans-serif;
  font-weight:700;
}

p, li, span, label, input, textarea{
  color: var(--secondText);
  font-family: 'Roboto Mono', monospace;
}

#{
  text-decoration: none;
  color : cyan;
}

ul{
  list-style: none;
}
h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

.s1{
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow:auto;
}
.s2{
  background-color: var(--secondColor);
  border-bottom: 1px solid var(--borderColor);
  overflow:auto;

}
.main-container{
  width : 1200px;
  margin : 0 auto;

}

.greeting-wrapper{
  display : grid;
  justify-content: center;
  align-content: center;
  min-height: 10em;
}
.intro-wrapper{
  background-color: var(--secondColor);
  border 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0 ;


  -webkit-box-shadow: 11px -3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px -3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 11px -3px 5px 0px rgba(0,0,0,0.75);

  display : grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em 30em;
  grid-template-areas:
    'nav-wrapper nav-wrapper'
    'leftcol-wrapper rightcol-wrapper'
}

.nav-wrapper{
  grid-area:nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: var(--mainColor);
    border-radius: 5px 5px 0 0 ;
}

#navigation{

  margin : 0;
  padding: 10px;
}

#navigation li{
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  text-decoration: none;
  color : black;
}
.dots-wrapper{
  display:flex;
  align-items: center;

}
#dot1{
  background-color: #FC6058;
}
#dot2{
  background-color: #FEC02F;
}
#dot3{
  background-color: #2ACA3E;
}
.bdots{
  background-color:black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin:4px;

  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);s

}
#theme-wrapper{
  display: flex;
  justify-content:center;
}
.theme-dot{
  background-color: black;
  height : 20px;
  width: 20px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);

  cursor: pointer;
}
.theme-dot:hover{
  border-width: 5px;
}

#dark-mode{
  background-color: black;
}
#light-mode{
  background-color:#EAE0C8 ;
}

.leftcol-wrapper{
  grid-area:leftcol-wrapper;
  padding-top:50px;
  padding-bottom: 50px;

}
.rightcol-wrapper{
  grid-area:rightcol-wrapper;
  display:grid;
  align-content: center;
  padding-top:50px;
  padding-bottom: 50px;


}
#preview{
  width:300px;
  border:1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding :15px;


}
#preview-shadow{
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;

}

#profile-pic{
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  border-radius: 10%;
  border:2px;
  border-color: var(--borderColor);
  object-fit: cover;
}
.about-wrapper{
  display:grid;
  grid-template-columns: repeat(autofit,minmax(320px,1fr));

  padding-bottom: 50px;
  padding-top:50px;
;
}
#skills{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}
.social-links{
  display: grid;
  align-content: center;
  text-align: center;

}
.social-links a{
  color: #fff;
}
#social-img{
  display: grid;
  justify-content: center;
  width: 50%;
}
#contact-form{
  display:block;
  max-width: 600px;
  margin : 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  background-color: var(--mainColor);
  border-radius: 5px;
  margin-bottom: 50px;
}
#submit-btn{
  margin-top:10px;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  color:#fff;
  background-color: var(--btn-color);
  border:none;

}
#contact-form label{
    line-height: 2.7em;
}
#contact-form textarea{
  min-height: 100px;
  font-size: 14px;
}
.input-fld{
  width:100%;
  padding-top: 10px;
  padding-bottom:10px;
  background-color: var(--secondColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px;
}
@media screen and (max-width : 1200px){
  .main-container{
    width: 95%;
  }
}
  @media screen and (max-width : 800px){
  .intro-wrapper{
    display : grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas:
      'nav-wrapper'
      'leftcol-wrapper'
      'rightcol-wrapper'
  }
  .rightcol-wrapper{
    justify-content: center;

  }
  }
